@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ### Primary */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);

    /* ### fonts */
    --font-family-1: 'Poppins', sans-serif;
    --font-family-2: 'Open Sans', sans-serif;
}

body{
    color: white;
    background-color: var(--Violet);
    transition: .4s ease;
}

main{min-height: 100vh;}

.container{
    width: 80%;
    margin: 0 auto;
}

.bg-svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.change-Theme{background-color: #1F024C;}

.logo{
    width: 150px;
    padding: .8em 0px;
}
.logo-darkmode{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contrast{
    top: 3vh;
    right: 10%;
    font-size: 1.5em;
    position: absolute;
    cursor: pointer;
}

.mockup-svg{
    width: 100%;
    padding-top: 3.5rem;
}

.info{
    text-align: center;
    padding-top: 2rem;
    font-family: var(--font-family-2);
}
.info h1{
    font-size: 2rem;
    text-transform: capitalize;
    font-family: var(--font-family-1);
}
.info > *:not(:last-child){
    padding-bottom: 1.5rem;
}
.medialinks{padding-top: 1.5rem;}

button{
    min-width: 200px;
    padding: 1em;
    border: 0px;
    cursor: pointer;
    color: var(--Violet);
    font-size: 1.1rem;
    border-radius: 50px 50px 50px 50px;
    box-shadow: -1px 4px 8px 0px rgba(0,0,0,0.75);
}
button:hover{
    color: white;
    background-color: var(--Soft-Magenta);
}
.medialinks a{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}
#break{display: none;}

.attribution{ 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px; 
    text-align: center;
    display: none;
}
.attribution a { color: hsl(300, 69%, 71%); }

@media (min-width: 800px){
    .container{width: 90%;}

    section{
       display: grid;
       grid-gap: 5em;
       align-items: center;
       grid-template-columns: repeat(2,1fr);
    }

    .bg-svg{height: 100%;}

    .info{ 
        text-align: left;
        width: 78%;
        font-size: 1.1rem;
    }

    #break{display: block;}

    .medialinks{
        bottom: 8vh;
        right: 10%;
        font-size: 2rem;
        position: absolute;
    }
}